[MASTER]

extension-pkg-whitelist=
load-plugins=
unsafe-load-any-extension=no

ignore=CVS
ignore-patterns=

#init-hook=

jobs=0
limit-inference-results=100
persistent=yes

suggestion-mode=yes


[MESSAGES CONTROL]


# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=parameter-unpacking,
        unpacking-in-except,
        backtick,
        locally-disabled,
        logging-fstring-interpolation,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        apply-builtin,
        basestring-builtin,
        buffer-builtin,
        cmp-builtin,
        coerce-builtin,
        execfile-builtin,
        file-builtin,
        long-builtin,
        raw_input-builtin,
        reduce-builtin,
        standarderror-builtin,
        unicode-builtin,
        coerce-method,
        delslice-method,
        getslice-method,
        setslice-method,
        no-absolute-import,
        dict-iter-method,
        dict-view-method,
        next-method-called,
        metaclass-assignment,
        indexing-exception,
        reload-builtin,
        oct-method,
        hex-method,
        nonzero-method,
        cmp-method,
        input-builtin,
        round-builtin,
        intern-builtin,
        unichr-builtin,
        map-builtin-not-iterating,
        zip-builtin-not-iterating,
        range-builtin-not-iterating,
        filter-builtin-not-iterating,
        using-cmp-argument,
        div-method,
        idiv-method,
        rdiv-method,
        exception-message-attribute,
        sys-max-int,
        dict-items-not-iterating,
        dict-keys-not-iterating,
        dict-values-not-iterating,
        exception-escape,
        comprehension-escape,
        no-self-use,
        no-else-return

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=c-extension-no-member


[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit


[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=80
max-module-lines=1000
no-space-check=trailing-comma,
               dict-separator
single-line-class-stmt=no
single-line-if-stmt=no


[VARIABLES]
additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
generated-members=
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1


[STRING]
check-str-concat-over-line-jumps=no


[LOGGING]
logging-modules=logging
logging-format-style=old


[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo,
          bar,
          baz

class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names=p,
           i,
           j,
           k,
           fn,
           ix,
           op,
           to,
           ex,
           Run,
           _

include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
# Colon-delimited sets of names that determine each other's naming style when
# the name regexes allow several styles.
name-group=
property-classes=abc.abstractproperty,
                 simcompyl.core.util.lazy,
                 simcompyl.core.model.step
variable-naming-style=any

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[DESIGN]
max-args=6
max-attributes=12
max-bool-expr=5

max-branches=12
max-locals=15
max-parents=7
max-public-methods=20

max-returns=6

max-statements=50
min-public-methods=1


[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant


[CLASSES]
defining-attr-methods=__init__,
                      __new__,

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make

valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls


[EXCEPTIONS]
overgeneral-exceptions=BaseException,
                       Exception
